/* ------------------------------------ GLOBAL ------------------------------------ */

.flex {
    display: flex;
}

/* Style top bar */

.bar {
    position: sticky;
    top: -0.3125rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
    background: linear-gradient(to right, #000000, #3f3f3f);
    color: black;
    gap: 5vw;
}

.logo {
    height: 2.3125rem;
}

.topleft-logo {
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border-radius: 6.25rem;
    width: 9.375rem;
    height: 2.8125rem;
    text-decoration: none;
    color: black;
}

nav {
    gap: 0.625rem;
}

nav a {
    text-decoration: none;
    align-content: center;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 6.25rem;
    padding: 0.6875rem;
}

/* Style Footer */

footer {
    background-color: black;
    color: #d3d3d3;
    text-align: center;
    padding-top: 2.5rem;
}

footer img {
    width: 1.6875rem;
}

.social-container {
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;
    max-width: 90vw;
    gap: 1rem;
}

.socials p {
    padding-bottom: 1rem;
}

.social-images {
    gap: 0.9375rem;
}

.contacts {
    flex-direction: column;
    gap: 0.95rem;
    text-align: left;
}

.contacts a {
    text-decoration: none;
    color: #d3d3d3;
}

.contacts a:hover {
    text-decoration: underline;
    color: white;
}

footer p:last-child {
    padding-top: 4.6875rem;
    padding-bottom: 1.875rem;
}

@media (max-width: 31.25rem) {
    .social-container {
        flex-direction: column;
        gap: 4rem;
        padding-left: 7vw;
    }
    footer {
        padding-top: 0rem;
    }
}

/* ------------------------------------ STYLE INDEX ------------------------------------ */
/* Style background images */

.background {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    top: 3.75rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.rightpaw {
    max-width: 20rem;
    height: fit-content;
    opacity: 0.3;
}

.leftpaw {
    max-width: 20vw;
    margin-top: 40vh;
    opacity: 0.3;
}

/* Style introduction bits */

.intro {
    height: 22.5rem;
    width: 100%;
    text-align: center;
    padding: 3.125rem 0;
}

h1 {
    font-size: clamp(1rem, 7.5vw, 4.375rem);
    margin-bottom: 2.5rem;
    text-align: center;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    padding: 0.8125rem 0;
    text-align: center;
}

.mission p {
    max-width: 33vw;
    font-size: clamp(1rem, 2.4vw, 1.0625rem);
    margin: 0 auto;
    padding-bottom: 0.8125rem;
    line-height: 1.1rem;
}

.intro img:first-child {
    width: 4.375rem;
    margin-bottom: 0.625rem;
}

.mission {
    background-color: rgb(252, 231, 195);
    border-radius: 1.25rem;
    margin: 0 auto;
    width: clamp(0rem, 32vw, 37.5rem);
    padding: 0.625rem;
    box-shadow: 0.1875rem 0.25rem 0.125rem rgba(0, 0, 0, 1);
}

.mission-holder {
    padding: 0;
    max-width: 100%;
}

.index-header {
    padding-bottom: 6.25rem;
}

@media (max-width: 62.5rem) {
    .index-header {
        padding-bottom: 0rem;
    }
    .mission {
        width: clamp(0rem, 80vw, 37.5rem);
    }
    .mission-holder {
        background-color: black;
        width: 100vw;
        padding: 3.125rem 0;
    }
    .mission p {
        font-size: clamp(1rem, 3.5vw, 1.0625rem);
        max-width: 90%;
    }
}

/* Style Product */

.product {
    background: radial-gradient(circle at center, rgb(63, 63, 63), black);
    color: white;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}

.product img {
    height: 15.625rem;
    border-radius: 0.625rem;
    align-self: center;
}

.product .product-line {
    width: 18.75rem;
    height: auto;
    display: block;
    margin: 0 auto;
    transform: rotate(180deg);
}

h3 {
    font-size: clamp(0.75rem, 3vw, 1.5625rem);
    text-align: center;
    border-bottom: solid white 0.1875rem;
    width: fit-content;
    margin: 0 auto 1.25rem auto;
}

.showcase {
    margin: 0 auto;
    margin-top: 1.25rem;
    width: clamp(0rem, 70vw, 75rem);
    background-color: black;
    padding: 1.25rem 2.5rem 2.5rem 2.5rem;
    border-radius: 0.625rem;
    box-shadow: 0.1875rem 0.25rem 0.125rem rgb(0, 0, 0);
}

.showcase div {
    flex-direction: row;
    gap: 3vw;
}

.showcase div p {
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    margin: auto 0;
    line-height: 1.25rem;
}

.showcase:hover {
    background-color: rgb(19, 19, 19);
}

@media (max-width: 35rem) {
    .showcase div {
        flex-direction: column;
        gap: 3vw;
    }
}

/* Style Image Roll */

.imageroll {
    height: 18.75rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 3.125rem;
    background: radial-gradient(
        ellipse 80% 100% at 50% 10%,
        rgb(255, 216, 165) -10%,
        #fffcdc 70%,
        rgb(255, 165, 55) 150%
    );
}

.imagetable {
    background-color: rgb(255, 224, 158);
    margin: auto;
    width: calc(100% - 6.25rem);
    height: 15.625rem;
    border-radius: 3.125rem;
    z-index: 1;
    position: absolute;
    inset: 0;
}

.scroller {
    position: absolute;
    margin: 0 auto;
    inset: 0;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    gap: 2.75rem;
    width: 90vw;
    justify-content: center;
    overflow: visible;
}

.scroller img {
    width: 15.625rem;
    transition: transform 0.3s ease;
    border-radius: 1.875rem;
}

.arrow-buttons {
    justify-self: center;
    align-items: center;
    z-index: 10;
    top: calc(50% - 1.5625rem);
    position: absolute;
    flex-direction: row;
    gap: clamp(12rem, 50vw, 54rem);
}

.arrow-right, .arrow-left {
    width: 3.125rem;
    height: 3.125rem;
}

.arrow-right:hover, .arrow-left:hover {
    cursor: pointer;
}

/* Style Buttons */

.buttons {
    background-color: black;
    height: 18.75rem;
    color: white;
    font-size: 1.25rem;
    padding: 3.125rem;
}

.vertical-buttons {
    flex-direction: column;
    justify-content: space-evenly;
    height: 12.5rem;
    align-items: center;
    align-content: center;
    width: clamp(0rem, 40vw, 43.75rem);
    margin: 1rem auto;
}

.vertical-buttons a {
    text-align: center;
    padding: 0.625rem;
    background-color: #d9d9d9;
    border-radius: 0.625rem;
    align-self: center;
    text-decoration: none;
    color: #d7800f;
}

.vertical-buttons a:hover {
    text-decoration: underline;
}

.vertical-buttons div {
    gap: 0.625rem;
}

.line {
    width: 18.75rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tradeshow-date {
    text-align: center;
    font-size: 1.5625rem;
    width: clamp(20rem, 80vw, 33rem);
}

/* ------------------------------------ STYLE CONTACT ------------------------------------ */

.contact-header {
    padding-bottom: 0;
}

.info-box {
    flex-direction: column;
    justify-content: space-around;
    color: black;
    background-color: rgb(255, 231, 175);
    padding: 0.5rem 2rem;
    width: 15rem;
    height: clamp(6rem, 20vh, 8.5rem);
    border-radius: 2.5rem;
    box-shadow: 0.1875rem 0.25rem 0.125rem rgba(0, 0, 0, 1);
}

.info-box h2 {
    text-align: left;
    text-decoration: none;
    font-size: clamp(1.875rem, 3vw, 2.1875rem);
    padding: 0;
}

.arrow-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000000;
}

.info-box a:hover {
    font-size: 1.6rem;
    text-decoration: underline;
}

.contact-flexer {
    min-height: 90vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.contact-body {
    background: radial-gradient(circle at left, rgb(255, 209, 116), rgb(255, 232, 167));
}

@media (max-width: 62.5rem) {
    .contact-flexer {
        flex-direction: column;
        gap: 3vh;
    }
}

/* ------------------------------------ STYLE PRODUCTS ------------------------------------ */

.products-header h2 {
    font-size: clamp(2.7rem, 7vw, 3rem);
    font-weight: 400;
    margin-left: clamp(3rem, calc(40vw - 9.375rem), 90rem);
    margin-top: 1.25rem;
    text-align: left;
}

.product-summary {
    gap: 2rem;
    align-items: flex-start;
    width: fit-content;
    max-width: 56.25rem;
    margin: 0 auto;
    background: linear-gradient(to right, #ffbf5f, #fffcdc);
    border-radius: 1.25rem;
}

.product-display {
    width: 90vw;
    max-width: 28.125rem;
    border-radius: 1.25rem;
}

.product-paragraph {
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    max-width: 28.125rem;
}

.product-paragraph div:last-child {
    margin: 2rem 0;
    font-size: 1.22rem;
}

.product-paragraph div:first-of-type {
    font-size: 1.5625rem;
    font-weight: 100;
}

strong {
    font-weight: 600;
}

.product-paragraph h3 {
    margin: 0.625rem 0 1.875rem;
    border: none;
    font-size: clamp(2rem, 3vw, 2.5rem);
}

@media (max-width: 50rem) {
    .product-summary {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom, #ffbf5f, #fffcdc);
    }
    .product-paragraph {
        max-width: 25rem;
    }
}

.order-info {
    flex-direction: column;
    gap: 1.25rem;
    width: 85vw;
    max-width: 31.25rem;
    margin: 3rem auto;
    text-align: left;
}

.order-info h4 {
    font-size: clamp(1.43rem, 3vw, 1.6rem);
    margin-bottom: 0.25rem;
}

.order-info p {
    font-size: clamp(0.98rem, 2vw, 1.05rem);
    line-height: 1.6;
}
