/* ------------------------------------ GLOBAL ------------------------------------ */

#flex {
    display: flex;
}

/* Style top bar */

.bar {
    position: sticky;
    top: -5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background: linear-gradient(to right, #000000, #3f3f3f);
    color: black;
    gap: 200px;
}

.logo {
    height: 37px;
}

.topleft-logo {
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border-radius: 100px;
    width: 150px;
    height: 45px;
    text-decoration: none;
    color: black;
}

nav {
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 100px;
    padding: 11px;
}

/* Style Footer */

footer {
    background-color: black;
    color: #d3d3d3;
    text-align: center;
    height: fit-content;
    padding-top: 40px;
}

footer img {
    width: 27px;
}

footer div:first-child {
    justify-content: space-around;
}

.socials p {
    padding-bottom: 16px;
}

.social-images {
    gap: 15px;
}

.contacts {
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.contacts div a {
    text-decoration: none;
    color: #d3d3d3;
}

.contacts div a:hover {
    text-decoration: underline;
    color: white;
}

footer p:last-child{
    padding-top: 75px;
    padding-bottom: 30px;
}


/* ------------------------------------ STYLE INDEX ------------------------------------ */
/* Style background images */

.background {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    gap: 220px;
    z-index: -1;
    max-width: 100vw;
}

.leftpaw, .rightpaw {
    max-height: 70vh;
    max-width: calc(50vw - 110px);
    height: auto;
}

.leftpaw {
    transform: rotate(10deg);
}

/* Style introduction bits */

.intro {
    height: auto;
    max-height: 40vh;
    aspect-ratio: 5 / 2;
    width: 100vw;
    gap: 150px;
    text-align: center;
    align-content: center;
    padding-top: 50px;
    margin-bottom: 60px;
}

h1 {
    font-size: clamp(0px, 7.5vw, 70px);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: clamp(0px, 4vw, 40px);
    padding: 13px 0;
    text-align: center;
}

.intro p {
    max-width: 33vw;
    font-size: clamp(0px, 2.4vw, 17px);
    margin: 0 auto;
    padding-bottom: 13px;
    line-height: 20px;
}

.intro img:first-child {
    width: 70px;
    margin-bottom: 10px;
}

.mission {
    background-color: rgb(252, 231, 195);
    border-radius: 20px;
    margin: 0 auto;
    width: clamp(0px, 32vw, 600px);
    padding: 10px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 1);
}

/* Style Product */

.product {
    background: radial-gradient(circle at center, rgb(42, 42, 42), black);
    height: fit-content;
    color: white;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.product img {
    height: 250px;
    border-radius: 10px;
    align-self: center;
}

.product .product-line {
    width: 300px;
    height: auto;
    position: absolute;
    margin: -300px 0 0 0;
    transform: rotate(180deg);
}

h3 {
    font-size: clamp(0px, 3vw, 25px);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid white 3px;
    width: fit-content;
    justify-self: center;
}

.showcase {
    margin: 0 auto;
    margin-top: 20px;
    width: clamp(0px, 80vw, 1200px);
    background-color: black;
    padding: 20px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 3px 4px 2px rgb(0, 0, 0);
}

.showcase div{
    flex-direction: row;
    gap: 3vw;
}

.showcase div p {
    font-size: clamp(0px, 2.4vw, 20px);
    align-content: center;
    line-height: 20px;
}

.showcase:hover {
    background-color: rgb(19, 19, 19);
}

/* Style Image Roll */

.imageroll {
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
    background: radial-gradient(
        ellipse 80% 100% at 50% 10%,
        rgb(255, 216, 165) -10%,
        #fffcdc 70%,
        rgb(255, 165, 55) 150%
        );
}

.imagetable {
    background-color: rgb(255, 224, 158);
    margin: auto;
    width: calc(100vw - 100px);
    height: 250px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    inset: 0;
}

.scroller {
    position: absolute;
    margin: 0 auto;
    inset: 0;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    gap: 44px;
    width: 90vw;
    justify-content: center;
    overflow: visible;
}

.scroller img {
    width: 250px;
    transition: transform 0.3s ease;
    border-radius: 30px;
}

.arrow-buttons {
    display: flex;
    justify-self: center;
    align-items: center;
    z-index: 6;
    top: calc(50% - 25px);
    position: absolute;
    flex-direction: row;
    gap: 900px;
}

.arrow-right, .arrow-left {
    width: 50px;
    height: 50px;
}

.arrow-right:hover, .arrow-left:hover {
    cursor: pointer;
}

/* Style Buttons */

.buttons {
    background-color: black;
    height: 300px;
    color: white;
    font-size: 20px;
    padding: 50px;
}

.vertical-buttons {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
    align-content: center;
    width: clamp(0px, 40vw, 700px);
    margin: 0 auto;
}

.vertical-buttons a {
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-decoration: none;
    color: #d7800f;
}

.vertical-buttons a:hover {
    text-decoration: underline;
}

.vertical-buttons div {
    align-content: center;
    gap: 10px;
}

.line {
    z-index: 10;
    width: 300px;
    position: absolute;
    margin: 0 calc(50% - 200px);
}

/* ------------------------------------ STYLE ABOUT ------------------------------------ */

/* ------------------------------------ STYLE PRE_ORDER ------------------------------------ */